* {
    outline: 1px solid red;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.content {
    background-image: url('images/bg-pattern-desktop.svg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 80px;
    height: 100%;
    flex: 3;
    
}

.logo {
    width: 150px;
    height: auto;
}

.hero-mobile {
    display: none;
}

.content h1 {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 20px;
    font-weight: 200;
    font-size: 5rem;
}

.highlight {
    color: hsl(0, 36%, 70%);
}

.content p {
    color: hsl(0, 36%, 70%);
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.9px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.1rem;
}

.hero-desktop {
    flex: 2;
}

.hero-desktop img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .hero-desktop {
        display: none;
    }

    .content {
        padding: 30px 40px;
        gap: 30px;
    }

    .logo {
        width: 100px;
        height: auto;
    }

    .hero-mobile {
        display: block;
        margin-left: -40px;
        margin-right: -40px;
    }

    .hero-mobile img {
        width: 100%;
    }

    .content h1 {
        font-size: 2rem;
        letter-spacing: 10px;
        
    }
    .content p {
        font-size: 0.7rem;
        line-height: 1.4;
    }
}

.error-message, 
.error-icon {
    display: none;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

