* {
    margin: 0;
    outline: 1px solid red;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.content {
    background-image: url('images/bg-pattern-desktop.svg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 190px;
    height: 100%;
    flex: 3;

}

.content img {
    width: 150px;
    height: auto;
}

.content h1 {
    font-family: josefin sans, sans-serif;
    letter-spacing: 20px;
    font-weight: 200;
    font-size: 5rem;
}

.highlight {
    color: hsl(0, 36%, 70%);
}

.content p {
    color: hsl(0, 36%, 70%);
    font-family: josefin sans, sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.2rem;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    flex: 2;
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    .content {
        padding: 30px 40px;
    }
    .content img {
        width: 100px;
    }
    .content h1 {
        font-size: 2.5rem;
        letter-spacing: 10px;
    }
    .content p {
        font-size: 0.7rem;
        line-height: 1.4;
    }
}

.error-message, 
.error-icon {
    display: none;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

